.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}
.stats {
  display: inline-flex;
}

.input {
  display: block;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.LoadMoreBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.opacity {
  opacity: 0;
}
